* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f5f5f5;
}

html {
  font-size: 60.5%;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #111;
}

p, li, a, button {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: #333;
}

li {
  list-style: none;
}

a {
  color: #1a0dab;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

.button {
  padding: 0.75rem 1.5rem;
  background-color: #e0e0e0;
  color: #111;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #d5d5d5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.button:active {
  background-color: #e0e0e0;
  transform: translateY(0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 140rem;
  margin: auto;
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* Layout */
header {
  height: 10rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px -10px;
  background-color: #ffffff;
  width: 100%;
}

header .container {
  height: 10rem;
}

.navbar-grid {
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 10rem;
  padding: 0 3.2rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 3.5rem;
  color: #111;
}

nav ul li a {
  font-size: 2rem;
  font-weight: 700;
  color: #111;
}

/* Hero Section */
.hero-section .container {
  padding: 3.2rem;
  margin: 9rem auto;
  gap: 6.4rem;
}

.paragraph {
  font-size: 1.7rem;
  font-weight: 450;
  margin: 3.2rem 0;
  color: #444;
}

.heading-xl {
  font-size: clamp(5.2rem, 6vw, 4.241rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  border-radius: 10px;
}

.container .banner-image {
  width: 100%;
}

/* Custom Button */
.cst-btn {
  --primary-color: #2e86c1;
  --secondary-color: #fff;
  --hover-color: #145a8f;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  border: 0;
  border-radius: 10px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  font-size: 1.7rem;
  font-weight: bolder;
}

.cst-btn .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cst-btn .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.cst-btn .arrow::before {
  content: "";
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  top: -3px;
  right: 3px;
  padding: 3px;
  transform: rotate(-45deg);
}

.cst-btn:hover {
  background-color: var(--hover-color);
}

/* Read Button */
.read-btn {
  color: #111;
  background: #e8e8e8;
  padding: 3px 5px;
  margin-top: 20px;
  height: 30px;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.read-btn:hover {
  outline: 0.5px solid #111;
}

/* Book Section */
.section-about {
  margin: 2rem auto 9rem auto;
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  max-width: 30%;
}

@media screen and (max-width: 991px) {
  .gradient-cards {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #111;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: 25rem;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid #eee;
  background-color: #ffffff;
  border-radius: 13px;
  padding: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.card-title {
  font-weight: 600;
  color: #111;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: #444;
  font-size: 16px;
  max-width: 470px;
}


.container-card p {
  margin: 0.6rem 0;
  font-size: 2rem;
  line-height: 1.4;
}

/* 
.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  max-width: 470px;
} */

/* Book Search */
.book-container {
  margin-bottom: 4rem;
}

.form-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  gap: 1rem;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.form-search input {
  flex: 5;
  min-width: 250px;
  padding: 1rem 1.7rem;
  font-size: 1.6rem;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #1e1e1e;
  color: #fff;
}

.form-search input::placeholder {
  color: #aaa;
}

.form-search button {
  flex: 1;
  min-width: 100px;
  padding: 0.4rem 0rem;
  font-size: 1.9rem;
  font-weight: bold;
  background-color: #0077cc;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease;
}

.form-search button:hover {
  background-color: #005fa3;
}


.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  padding: 0 2rem;
}

.book-card {
  background: #1a1a1a;
  border-radius: 12px;
  padding: 1rem;
  color: #ddd;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #2c2c2c;
}

.book-card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.book-card img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 8px;
}

.book-card h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0 0.3rem;
  color: #fff;
  font-weight: 600;
}

.book-card p {
  margin: 0.25rem 0;
  font-size: 1.2rem;
  color: #aaa;
}

/* HTML: <div class="loader"></div> */
.outer-loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60rem;
}

.loader {
  width: 70px;
  padding: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

/* ------------------ 
contact us page 
--------------- */

.section-contact {
  margin: 9.6rem auto;

  & hr {
    border-color: rgba(255, 255, 255, 0.6);
  }
}
.contact-wrapper {
  display: flex;
  justify-content: center;

  & form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
    max-width: 48rem;

    & input,
    & textarea {
      font-family: "urbanist";
      background-color: #000;
      font-size: 1.6rem;
      color: #fff;
      outline: none;
      border: 0.1rem solid rgba(255, 255, 255, 0.4);
      padding: 1.2rem 1.6rem;
      border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem;
    }
  }
}

/* ----------------
contact us Page ends here 
--------------------- */

/* footer CSS  */

.footer-contact {
  height: 10rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;

  & .icon {
    color: #3a4ed5;
    font-size: 3.6rem;

    & .icon:nth-child(2) {
      rotate: 90deg;
    }
  }
}

.footer-contact-text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  & p {
    font-size: 1.5rem;
    color: #757575;
  }

  & p:first-child {
    font-size: 1.7rem;
    font-weight: bold;
    color: #fff;
  }
}

.footer-menu {
  & ul {
    display: flex;
    justify-content: end;
  }
}

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #3a4ed5;
  margin-left: 0.6rem;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #3a4ed5;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}